$primary-color: #FF5E14;
$secondary-color: #F8F9FB;
$transparent: transparent;
$grey-color: #878787;
$black-color: #120c19;
$white-color: #ffffff;
$regular-font: "Montserrat-Regular";
$light-font: "Montserrat-Light";
$medium-font: "Montserrat-Medium";
$semibold-font: "Montserrat-SemiBlod";
$bold-font: "Montserrat-Bold";
$main-transition: 0.4s;
